/* Main Layout */
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-sapce-m);
}

.drawer-buttons {
    background-color: white;
    font-size: 20px;
}

.drawer-icons{
    width: 40px;
    height: 40px;
}

/* Dashboard Layout */
.dashboard-view .leave-stats {
    font-size: 3em;
    margin: 1em 0;
}
